{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Lista de Relatórios</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Arquivo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for relatorio in relatorios %}
                <tr>
                    <td>{{ relatorio.data }}</td>
                    <td>{{ relatorio.relatorio.name }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_relatorio' relatorio.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja deletar este relatório e todos os dados relacionados?');">Deletar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}